# Build Folders
obj/
out/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.user
*.userosscache
*.sln.docstates
*.userprefs

# VS Code files
.vscode/

# Rider project files
.idea/

# Visual Studio specific files
*.suo
*.ntvs*
*.njsproj
*.vcxproj
*.cache
*.log
*.pdb
*.dbmdl
*.opendb
*.obj
*.bak
*.sql
*.sqlite

# DotNet local user config
.vscode/
.vscode/**

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Core
wwwroot/node_modules/
wwwroot/lib/
# Uncomment if you have secrets stored in appsettings.json
# appsettings.json

# .NET 5, 6, 7, and 8
dotnet-sdk.dotnet-tool.json
dotnet-runtime.dotnet-tool.json

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.nuget.props
*.nuget.targets

# Ignore file in root directory
!.gitignore

# Coverage Reports
coverage/
*.coverlet.*
coverage.opencover.xml
coverage.cobertura.xml
*.coverage
*.coveragexml
test-results/

# Code Profiling
*.psess
*.vsp
*.vspx
*.sap

# NCrunch
_NCrunch_*
*.ncrunchsolution

# Resharper
_ReSharper*
*.DotSettings.user
resharper.xml

# Rider
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/shelf
.idea/modules.xml
.idea/jarRepositories.xml

# Other
.history/
.env
.envrc
!.gitignore
tmp/
temp/

.vs/
